.button-component{
  &.btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &.btn-primary{
          color: #fff;
          background-color: #007bff;
          border-color: #007bff;
      }
      &.btn-secondary{
          color: #fff;
          background-color: #6c757d;
          border-color: #6c757d;
      }
    }
  }
