$tableCustomWidth: 100% !default;
$tableCustomCollapse: separate !default;
$tableCustomSpacing: 0 6px !default;
$tableCustomTheadBg: #f5f6f9 !default;
$tableCustomTheadColor: #241d8c !default;
$tableCustomTheadTrSpacing: 1px !default;
$tableCustomTbodyBg: #445167d9 !default;
$tableCustomTbodyColor: #fff !default;
$tableCustomTbodyBgAlternative: #CCC  !default;
$tableCustomTbodyColorAlternative: #445167d9 !default;
